* {
    margin: 0px;
    padding: 0px;
}

#exercise_05_14 {
    margin-top: 200px;
    margin-left: 260px;
    width: 270px;
}

#secretHomePage {
    margin-top: 100px;
    margin-left: 500px;
    width: 340px;
}

#exercise_05_21 {
    margin-top: -42px;
    margin-left: 822px;
    width: 260px;
}
